.divCabecalho {
    background-color: #054161;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 100px; /* ajuste se necessário */
}

#eniac {
    padding: 15px;
    max-height: 90px;
}


#evento {
    padding: 5px 15px;
    background-color: #ffe466;
    border-radius: 20px;
    border: 2px solid #054161;
    font-weight: bold;
    color: #054161;
}