.divCabecalho {
  background-color: #054161;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#eniac {
  padding: 15px;
  max-height: 90px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5; 
  margin: 0;
  padding: 0;
}

/* Aumentado tamanho da box, com mais espaço e sombra */
.box {
  margin: 50px auto;
  background-color: #054161;
  padding: 10px 10px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.box2{
  max-width: 800px;      /* controla a largura */
  margin: 0 auto;        /* centraliza horizontalmente */
  background-color: #004060; /* cor de fundo opcional */
  padding: 30px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
/* Campo com borda destacada */
fieldset {
  border: 3px solid #ffe466;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

/* Ajustes para espaçar inputs */
label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: left;
  font-weight: 500;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 10px;
}

#cadastrarEvento,
#voltar {
  background-color: #ffe466;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: #054161;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
}

#cadastrarEvento:hover,
#voltar:hover {
  background-color: #ffd633;
  color: #00394f;
}

.inputBox {
  position: relative;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}

.labelInput {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: 0.5s;
}

.inputUser:focus~.labelInput,
.inputUser:valid~.labelInput {
  top: -20px;
  font-size: 12px;
  color: white;
}

.container-flex {
  display: flex;
  align-items: flex-start; /* alinha no topo */
  gap: 20px; /* espaço entre form e calendário */
}

#formulario {
  flex: 1;
  max-width: 500px;
  height: 10vh;
}

#calendar {
  flex: 1; /* o calendário ocupa o resto */
  max-width: 600px; /* largura desejada */
}

#calendar {
  flex: 1; /* o calendário ocupa o resto */
  max-width: 600px; /* largura desejada */
}

@media (max-width: 768px) {
  .container-flex {
    flex-direction: column; /* empilha no mobile */
  }
  #calendar {
    max-width: 100%;
  }
}